.order-container {
  padding-bottom: 90px;
}

.order-pay__bar {
  align-items: center;
  justify-content: space-between;
  display: flex;
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 90px;
  background: #f9f9f9;
  border-top: 1px solid #ddd;
}

.order-pay__info {
  display: inline-flex;
  padding: 0 20px;
  font-size: 28px;
  flex: 1;
  justify-content: space-between;

  i {
    font-style: normal;
    color: #f00;
  }
}

.icon-location {
  color: #666;
}

.icon-time {
  color: #666;
}

.btn-submit {
  width: 2.1rem;
  height: 100%;
  line-height: 0.9rem;
  text-align: center;
  background: #ffd300;
}
