.cart-section {
  background: #fff;
  font-size: 27px;
  color: #000;

  h3 {
    margin: 0;
    color: #898989;
    font-weight: normal;
    font-size: 30px;
    padding: 30px 20px;
  }

  .cart-entry__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 12px 0;
  }

  ul {
    background: #f9f9f9;

    li {
      display: flex;
      align-items: flex-start;
      padding: 15px 20px;
    }
  }

  .cart-entry {
    margin: 0 30px;
    padding: 20px 0;
    border-bottom: 1px dotted #ddd;
  }

  .cart-content {
    display: flex;
    height: 100%;
    flex: 1;
    justify-content: space-between;

    span {
      font-size: 24px;
    }
  }

  .cart-pic {
    width: 100px;
    height: 100px;
    margin-right: 20px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  .cart-pay-info {
    display: flex;
    padding: 30px 30px;
    justify-content: flex-end;
  }
}
