.header {
  display: flex;
  height: 90px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header-fixed {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
}
