html, body, :global(#root) {
  height: 100%;
  min-height: 100%;
}
body{
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif
}
div,p{
  margin: 0;
  padding: 0
}
ul,li{
  margin: 0;
  padding: 0;
  list-style: none;
}

.header {
  display: flex;
  height: 90px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.header-fixed {
  position: fixed;
  border-bottom: 1px solid #ddd;
  z-index: 10;
  top: 0;
  left: 0;
  right: 0;
  height: 90px;
}
